.RData
.Rhistory
.Rproj.user
*.Rproj
3_exploratory/Análisis_Mercado_cache
3_exploratory/Análisis_Mercado_files
.rdb
3_exploratory/Compras_y_alfa/precio_contratos_alfas_cache
3_exploratory/Compras_y_alfa/precio_contratos_alfas_files
